/* Global reset and base styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #eaeaea;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  
  .server-container {
    text-align: center;
    padding: 20px;
  }
  
  .server-content {
    background-color: #252525;
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); */
  }
  
  .logo {
    max-width: 180px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin: 10px 0;
    color: #ffffff;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
  }
  
  .status-text {
    font-weight: bold;
    color: #ffea00; /* Green indicating server status is OK */
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 16px;
    }
    .server-content {
      padding: 20px;
    }
  }
  